html,
body {
	margin: 0;
	padding: 0;
	background: #FAEEDE;
	font-size: 18px;
	text-rendering: optimizeLegibility;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
}

.layout {
	max-width: 600px;
	margin: auto;
	padding: 15px;
	font-size: 1.1rem;
}

img {
	display: block;
	width: 100%;
}

b {
	text-transform: uppercase;
	font-weight: normal;
	font-size: .8rem;
	letter-spacing: 1px;
	color: #70462E;
}

p {
	color: #0044C3;
	font-weight: bold;
	font-size: 1.2rem;
}
