html,
body {
	margin: 0;
	padding: 0;
	background: #D1B38F;
	font-size: 18px;
	text-rendering: optimizeLegibility;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
}

.layout {
	background: #FAEEDE;
	max-width: 600px;
	margin: auto;
	font-size: 1.1rem;
	padding-bottom: 30px;
}

img {
	display: block;
	width: 100%;
}

b {
	display: inline-block;
	text-align: center;
	text-transform: uppercase;
	font-weight: normal;
	font-size: .6rem;
	letter-spacing: 1.2px;
	line-height: 1;
	color: #70462E;
	width: 100%;
	margin-bottom: 10px;
}

p {
	color: #70462E;
	font-size: 1.4rem;
	padding: 0 15px;
	margin-bottom: 0;
	margin-top: 30px;
	line-height: 1.6rem;
}

a {
	color: #70462E;
	/* text-decoration: none; */
}


/* @media only screen and (min-width: 640px) {
	p {
		padding: 0;
	}
} */
